.hero {
  /* background: #f6f6f6; */
  background: var(--color-background);
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.1;
}

.subtitle {
  margin-top: 16px;
  max-width: 420px;
}

.cta {
  margin-top: 24px;
  background: black;
  color: white;
  padding: 12px 28px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.stats {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.stats strong {
  display: block;
  font-size: 20px;
}

.stats span {
  font-size: 13px;
  color: #777;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 420px;
  object-fit: cover;
}
